body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 1400px;
}

* {
  color: #fff;
}

h2,
h3 {
  margin: 0;
}

section {
  max-width: 1400px;
}

/* section1 */

.main {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main_background {
  width: 100vw;
  height: 100vh;
  background-image: url(img/mask-group.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(0.7);
}

.main_textbox1 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  position: relative;
  left: 55%;
  top: 11%;
}

.main_top_text, .middle_text {
  font-size: 0.9rem;
  text-transform: capitalize;
  line-height: 0.5rem;
}

.main_middle_text {
  text-decoration: underline;
}

.main_textbox2 {
  position: relative;
  left: 7%;
  top: 37%;
}

.main_textbox2 p {
  margin-bottom: 0;
}

.main_textbox2 h1{
  font-size: 5rem;
  margin-top: 0;
  transform: translateX(-0.3rem);
}


/* section2 */

.high_end {
  position: relative;
  z-index: 2;
  height: 100vh;
  margin-top: 100vh;
  background-color: #000;
}

.props_wrap {
  display: flex;
  gap: 8.2rem;
  align-items: center;
  justify-content: center;
  padding-top: 3.3rem;
}

.mood_img {
  width: 13rem;
  height: 13.3rem;
}

.mood_img:hover {
  filter: brightness(1.1);
}

.props_text {
  font-size: 2.8rem;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.props_text p:nth-of-type(2)::after {
  content: ""; 
  display: inline-block; 
  width: 6rem;           
  height: 0.3rem;
  background-color: #cd395c;
  margin: 0.5rem;
}

.chair_img {
  width: 17rem;
  height: 20rem;
  z-index: -1;
  position: absolute;
  left: 56.2%;
  top: 38%;
}

.backchair_img {
  width: 9rem;
  height: 10rem;
  z-index: -2;
  position: absolute;
  left: 51%;
  top: 67%;
}

.overview_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 17.5%;
  gap: 0.5rem;
}

.overview_wrap p:nth-of-type(1) {
  color: #cd395c;
  font-size: 1.2rem;
  margin: 0;
}

.overview_wrap h2 {
  font-size: 0.9rem;
  margin: 0;
}

.overview_wrap p:nth-of-type(2) {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.cart_img {
  position: absolute;
  left: 15.2%;
  top: 73.9%;
  height: 20rem;
  z-index: 5;
}

/* section3 */

.sider {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #fff;
}

.sider_subtext {
  display: flex;
  justify-content: center;
  gap: 5rem;  
}

.sider_title {
  display: flex;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 6rem;
}

.sider_title span {
  color: #000;
}

.sider_subtext_title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3rem;
}

.sider_subtext {
  display: flex;
  justify-content: center;
  transform: translateY(400px);
}

.sider_subtext_box p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 550;
}

.sider_subtext_box p:nth-of-type(2) {
  font-size: 15px;
  line-height: 25px;
}

.sider_subtext_title,
.sider_subtext_box p {
  color: #000;
}

/* section4 */

.design_essence {
  position: relative;
  z-index: 1;
  height: 100vh;
}

.design_container {
  display: flex;
}

.design_img1,
.design_img2 {
  width: 100%;
  height: 100%;
}

.design_text {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  opacity: 0.1;
  position: absolute;
  left: 12%;
  top: 55%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.sum_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 23%;
  right: 9%;
}

.sum_container h3 {
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.sum_container > div:nth-of-type(1) h3::before {
  content: "(1)";
  position: absolute;
  right: 102%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.sum_container > div:nth-of-type(2) h3::before {
  content: "(2)";
  position: absolute;
  right: 102%;
  top: 36.5%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.sum_container > div:nth-of-type(3) h3::before {
  content: "(3)";
  position: absolute;
  right: 102%;
  top: 73%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.sum_container p {
  color: #999999;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

/* section5 */

.introduction {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #fff;
}

.trandy_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 12%;
  top: 7%;
}

/* 공통 */

.trandy_wrap h3, 
.unique_wrap h3,
.edit_wrap h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
}

.trandy_wrap p,
.unique_wrap p,
.edit_wrap p {
  color: #6a6a6a;
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.trandy_wrap img {
  width: 15rem;
  height: 20rem;
}

.trandy_wrap > div h3::before {
  content: "(4)";
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
  position: absolute;
  right: 102%;
  top: 1%;
}

.unique_wrap {
  display: flex;
  gap: 3rem;
}

.unique_wrap > div h3::before {
  content: "(5)";
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
  position: absolute;
  
}



.trendy_title::before {
  content: "(4)";
  position: absolute;
  left: 660px;
  top: 75px;
  font-size: 12px;
  color: #cd395c;
  font-weight: bold;
}

.unique_title::before {
  content: "(5)";
  position: absolute;
  left: 415px;
  top: 245px;
  font-size: 12px;
  color: #cd395c;
  font-weight: bold;
}

.edit_title::before {
  content: "(6)";
  position: absolute;
  left: 585px;
  top: 450px;
  font-size: 12px;
  color: #cd395c;
  font-weight: bold;
}

.unique_container {
  margin-left: 180px;
  margin-top: -280px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.unique_img {
  width: 220px;
  height: 250px;
}

.edit_container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 420px;
  margin-top: -5px;
}

.edit_img {
  width: 150px;
  height: 150px;
}

/*6*/
.design_system {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #fafafa;
  margin-top: 0;
}

.design_system_wrapper {
  display: flex;
  gap: 15px;
  margin-left: 90px;
  align-items: center;
  padding-top: 50px;
}

.design_system_title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.design_system_text {
  font-size: 10px;
  color: #393939;
  line-height: 15px;
  padding-top: 5px;
}

.bottom_line {
  border: 1px solid #e0e0e0;
  width: 1100px;
  margin-left: 90px;
  margin-top: 15px;
}

.montserrat {
  margin-top: 70px;
  margin-left: 170px;
}

.montserrat_title,
.born_title {
  color: #000000;
  font-size: 35px;
}

.montserrat_top_text,
.born_top_text {
  color: #393939;
  font-size: 12px;
  font-weight: bolder;
}

.montserrat_bottom_text,
.born_bottom_text {
  color: #a0a0a0;
  font-size: 10px;
}

.montserrat_title::before {
  content: "ENG";
  position: absolute;
  left: 172px;
  top: 190px;
  font-size: 10px;
  color: #cd395c;
  font-weight: bold;
}

.born {
  margin-left: 700px;
  margin-top: -80px;
}

.born_side {
  color: #000;
  font-size: 20px;
}

.born_title::before {
  content: "KOR";
  position: absolute;
  left: 705px;
  top: 270px;
  font-size: 10px;
  color: #cd395c;
  font-weight: bold;
}

.color_box {
  display: flex;
  gap: 15px;
  margin-left: 400px;
  padding-top: 20px;
}

.magenta_wrapper {
  width: 150px;
  height: 150px;
  background-color: #cd395c;
}

.magenta {
  font-size: 15px;
  margin-left: 10px;
}

.magenta_text {
  font-size: 5px;
  margin-left: 10px;
}

.bw_wrapper {
  display: flex;
  gap: 10px;
}

.white_wrapper {
  background-color: #fff;
  width: 100px;
  height: 100px;
}

.white {
  font-size: 12px;
  margin-left: 10px;
  color: #000;
}

.white_text {
  font-size: 5px;
  margin-left: 10px;
  color: #000;
}

.black_wrapper {
  background-color: #000;
  width: 100px;
  height: 100px;
}

.black {
  font-size: 12px;
  margin-left: 10px;
}

.black_text {
  font-size: 5px;
  margin-left: 10px;
}

/*7*/

.main_page {
  position: relative;
  z-index: 3;
  height: 100%;
  background-color: #000000;
}

.main_page_title {
  text-transform: uppercase;
  margin-left: 50px;
  padding-top: 50px;
  margin-top: 0;
}

.main_page_title::before {
  content: "01";
  position: absolute;
  left: 35px;
  top: 53px;
  font-size: 10px;
  color: #cd395c;
  font-weight: bold;
}

.main_page_img {
  position: relative;
  width: 600px;
  display: block;
  padding-top: 55px;
  margin: auto;
}

.main_page_img2 {
  position: absolute;
  width: 200px;
  top: 600px;
  right: 220px;
}

.main_page_img3 {
  position: absolute;
  width: 200px;
  top: 1500px;
  left: 220px;
}

.shadow::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1200px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 2;
  pointer-events: none;
}

.main_page_img4 {
  position: absolute;
  width: 200px;
  bottom: 450px;
  right: 320px;
  z-index: 3;
}

.main_page_img5 {
  position: absolute;
  width: 200px;
  bottom: 450px;
  right: 100px;
  z-index: 3;
}

/* 8 */
.md_page {
  position: relative;
  z-index: 3;
  height: 130vh;
  background-color: #000;
  padding-bottom: 0;
}

.md_choice_title {
  margin-top: 0;
  position: absolute;
  text-transform: uppercase;
  margin-left: 50px;
  padding-top: 0px;
  z-index: 5;
}

.md_choice_title::before {
  content: "02";
  position: absolute;
  left: -15px;
  top: 3px;
  font-size: 10px;
  color: #cd395c;
  font-weight: bold;
}

.md_choice_img_back {
  position: absolute;
  width: 100%;
  height: 130vh;
  z-index: 2;
}

.md_choice_img_front {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: 3;
}

/* 9 */

.mobile {
  position: relative;
  z-index: 3;
  height: 100vh;
  background-color: #000;
  width: 100%;
}

.mobile_title {
  text-transform: uppercase;
}

.mobile_title::before {
  content: "03";
  position: absolute;
  left: -15px;
  top: 3px;
  font-size: 10px;
  color: #cd395c;
  font-weight: bold;
}

.mobile_imges {
  display: flex;
  overflow: hidden;
  height: auto;
}

.mobile_img1 {
  position: absolute;
  left: 5%;
  bottom: 10%;
  width: 180px;
  height: auto;
  z-index: 1;
}

.mobile_img2 {
  position: absolute;
  left: 20%;
  bottom: 0;
  width: 200px;
  height: auto;
  z-index: 2;
}

.mobile_img3 {
  position: absolute;
  left: 40%;
  bottom: 5%;
  width: 220px;
  height: auto;
  z-index: 3;
}

.mobile_img4 {
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 200px;
  height: auto;
  z-index: 2;
}

.mobile_img5 {
  position: absolute;
  left: 80%;
  bottom: 10%;
  width: 180px;
  height: auto;
  z-index: 1;
}

.mobile_img6 {
  position: absolute;
  left: 50%;
  top: -10%;
  width: 250px;
  height: auto;
  z-index: 4;
  transform: translateX(-50%);
}

.mobile_img7 {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 250px;
  height: auto;
  z-index: 5;
  transform: translateX(-50%);
}

.shadow_top {
  position: absolute;
  top: 0;
  z-index: 7;
  width: 100%;
}

.shadow_bottom {
  position: absolute;
  bottom: 0;
  z-index: 7;
  width: 100%;
}

/* 10 */
.sentences {
  position: relative;
  z-index: 3;
  height: 100vh;
  background-color: #000000;
}

.sentence_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  white-space: nowrap;
  text-align: center;
}

.sentence_item p {
  margin: 2px 0;
}

.kitchen {
  font-size: 30px;
  font-weight: 600;
}

.kitchen_img {
  width: 110px;
  height: 50px;
  vertical-align: -15px;
}

.kitchen_span {
  color: #6a6a6a;
}

.pet {
  color: #6a6a6a;
  font-size: 30px;
  font-weight: 600;
}

.pet_span {
  color: #fff;
}

.pet_img {
  width: 60px;
  height: 50px;
  vertical-align: -15px;
}

.lighting_span {
  color: #fff;
}

.lighting_img {
  width: 70px;
  height: 80px;
  vertical-align: -15px;
}

.beauty {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.beauty_img {
  width: 50px;
  height: 80px;
  vertical-align: -15px;
}

.beauty_span {
  color: #6a6a6a;
}

/* 11 */
.uiux {
  position: relative;
  z-index: 3;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: flex-start;
}

.uiux_item {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  gap: 100px;
}

.ux_img,
.ui_img,
.fe_img,
.be_img {
  width: 100%;
}

.uiux_item > div {
  position: relative;
}

.uiux_item p {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

/* footer */

.footer {
  position: relative;
  z-index: 3;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 120px;
}

.footer_item1,
.footer_item2 p {
  text-transform: uppercase;
  text-align: center;
  line-height: 7px;
}

footer h1 {
  font-size: 100px;
  text-align: center;
}

footer img {
  width: 75px;
  margin-left: 10px;
}

.client {
  text-transform: uppercase;
  font-size: 10px;
}
