body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  color: #fff;
}

h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* section1 */

.main {
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -3;
}

.main_background {
  width: 100%;
  height: 100%;
  background-image: url(img/mask-group.png);
  background-size: cover;
  position: relative;
}

.main_textbox1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 11%;
  right: 10rem;
}

.main_top_text, .middle_text {
  font-size: 0.9rem;
  text-transform: capitalize;
  line-height: 0.5rem;
}

.main_middle_text {
  text-decoration: underline;
}

.main_textbox2 {
  position: absolute;
  bottom: 8%;
  left: 3.2rem;
}

.main_textbox2 p {
  margin-bottom: 0;
}

.main_textbox2 h1{
  font-size: 5.2rem;
  margin: 0;
  transform: translateX(-0.3rem);
}


/* section2 */

.high_end {
  height: 100vh;
  background-color: #000;
}

.high_items {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.props_wrap {
  display: flex;
  gap: 8.2rem;
  align-items: center;
  justify-content: center;
  padding-top: 3.3rem;
}

.mood_img {
  width: 13rem;
  height: 13.5rem;
}

.mood_img:hover {
  filter: brightness(1.1);
}

.props_text {
  font-size: 2.8rem;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  z-index: 2;
}

.props_text p:nth-of-type(2)::after {
  content: ""; 
  display: inline-block; 
  width: 6rem;           
  height: 0.25rem;
  background-color: #cd395c;
  margin: 0.5rem;
}

.chair_img {
  width: 16.65rem;
  height: 19rem;
  display: block;
  position: absolute;
  right: 21.35%;
  top: 83.5%;
  z-index: 1;
}

.backchair_img {
  position: absolute;
  width: 9rem;
  height: 10rem;
  left: 51.7%;
  top: 147.2%;
}

.overview_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: absolute;
  left: 15.8%;
}

.overview_wrap p:nth-of-type(1) {
  color: #cd395c;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.overview_wrap h2 {
  font-size: 0.9rem;
  margin: 0;
}

.overview_wrap p:nth-of-type(2) {
  font-size: 0.7rem;
  line-height: 1.5rem;
}

.cart_img {
  height: 20rem;
  position: absolute;
  left: 13.9%;
  top: 163%;
  z-index: 5;
}

/* section3 */

.sider {
  z-index: 1;
  height: 100vh;
  background-color: #fff;
}

.sider_subtext {
  display: flex;
  justify-content: center;
  gap: 5rem;  
}

.sider_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 6rem;
  padding-top: 15rem;
}

.sider_title span {
  color: #000;
}

.sider_subtext {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sider_subtext_title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3rem;
}

.sider_subtext_box p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 550;
}

.sider_subtext_box p:nth-of-type(2) {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.sider_subtext_title,
.sider_subtext_box p {
  color: #000;
}

/* section4 */

.design_container {
  display: flex;
  width: 100%;
}

.design_img1,
.design_img2 {
  width: 100%;
  height: 100%;
  display: block;
}

.design_item1,
.design_item2 {
  position: relative;
}

.design_text {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  opacity: 0.1;
  position: absolute;
  left: 23%;
  top: 50%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.sum_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 5rem;
}

.sum_container h3 {
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
  position: relative;
}

.sum_container h3::before {
  position: absolute;
  left: -1%;          
  top: 0;          
  transform: translateX(-110%); 
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.sum_container > div:nth-of-type(1) h3::before {
  content: "(1)";
}

.sum_container > div:nth-of-type(2) h3::before {
  content: "(2)";
}

.sum_container > div:nth-of-type(3) h3::before {
  content: "(3)";
}

.sum_container p {
  color: #999999;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

/* section5 */

.introduction {
  /* height: 100vh; */
  background-color: #fff;
}

.introduction_item {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
}

.trandy_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 8%;
  top: 10%;
}

.trandy_wrap > div h3::before {
  content: "(4)";
}

.unique_wrap {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 10%;
}

.unique_img {
  width: 17.5rem;
  height: 17rem;
}

.unique_wrap > div h3::before {
  content: "(5)";
}

.edit_wrap {
  display: flex;
  gap: 3rem;
  position: absolute;
  top: 62.5%;
  left: 35.3%;
  align-items: flex-end;
}

.edit_img {
  width: 12rem;
  height: 12rem;
}

.edit_wrap > div h3::before {
  content: "(6)";
}

/* section5의 공통 */

.trandy_wrap h3, 
.unique_wrap h3,
.edit_wrap h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  position: relative;
}

.trandy_wrap p,
.unique_wrap p,
.edit_wrap p {
  color: #6a6a6a;
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.trandy_wrap img {
  width: 13.8rem;
  height: 16rem;
}

.unique_wrap > div h3::before,
.edit_wrap > div h3::before,
.trandy_wrap > div h3::before {
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
  position: absolute;
  left: -1%;
  top: 0;          
  transform: translateX(-110%); 
}

/* section6 */

.design_system {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #fafafa;
  margin-top: 0;
}

.design_system_wrap {
  display: flex;
  gap: 7rem;
  align-items: center;
  margin-left: 5.8rem;
  padding-top: 3rem;
}

.design_system_wrap h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 650;
  color: #000;
}

.design_system_wrap p {
  font-size: 0.7rem;
  color: #393939;
  line-height: 1.3rem;
  font-weight: 500;
}

.bottom_line {
  border: 1px solid #e0e0e0;
  width: 85%;
  margin-left: 5.7rem;
  margin-top: 1.2rem;
}

.montserrat {
  position: absolute;
  left: 7.5%;
  top: 25%;
}

.montserrat h2 {
  color: #000;
  font-size: 3.5rem;
  transform: translateX(-0.2rem);
  font-weight: 600;
  position: relative;
}

.montserrat p:nth-of-type(1) {
  color: #393939;
  font-size: 0.9rem;
  font-weight: bold;
}

.montserrat p:nth-of-type(2) {
  color: #a0a0a0;
  font-size: 0.8rem;
}

.montserrat h2::before {
  content: "ENG";
  position: absolute;
  left: 0.9%;
  top: -6%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.born {
  position: absolute;
  right: 15%;
  top: 30%;
}

.born h2 {
  color: #000;
  font-size: 3.5rem;
  font-weight: 600;  
  transform: translateX(-0.3rem);
}

.born_side {
  color: #000;
  font-size: 1.2rem;
}

.born h2:before {
  content: "KOR";
  position: absolute;
  left: 2.2%;
  top: 0.5%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.born p:nth-of-type(1) {
  color: #393939;
  font-size: 0.9rem;
  font-weight: bold;
}

.born p:nth-of-type(2) {
  color: #a0a0a0;
  font-size: 0.8rem;
}

.color_box {
  display: flex;
  gap: 2rem;
}

.color_box div:nth-of-type(1) {
  width: 12rem;
  height: 12rem;
  background-color: #cd395c;
  padding: 1.1rem 0.9rem;
  position: absolute;
  top: 55%;
  left: 7.5%;
}

.color_box div:nth-of-type(1) h2 {
  font-weight: 550;
}

.color_box div:nth-of-type(1) p {
  font-size: 0.7rem;
  font-weight: 500;
}

.color_box div:nth-of-type(2) {
  width: 6rem;
  height: 6rem;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 0.6rem 0.5rem;
  position: absolute;
  bottom: 9.7%;
  right: 32.2%;
}

.color_box div:nth-of-type(2) h3 {
  font-weight: 550;
  color: #000;
  font-size: 0.9rem;
}

.color_box div:nth-of-type(2) p {
  font-size: 0.5rem;
  font-weight: 500;
  color: #000;
}

.color_box div:nth-of-type(3) {
  width: 6rem;
  height: 6rem;
  background-color: #000;
  padding: 0.6rem 0.5rem;
  position: absolute;
  bottom: 9.7%;
  right: 22%;
}

.color_box div:nth-of-type(3) h3 {
  font-weight: 550;
  font-size: 0.9rem;
}

.color_box div:nth-of-type(3) p {
  font-size: 0.5rem;
  font-weight: 500;
}

/* section7 */

.main_page {
  position: relative;
  z-index: 3;
  height: 100%;
  background-color: #000000;
}

.main_page h3 {
  text-transform: uppercase;
  position: absolute;
  left: 7.5%;
  top: 1%;
}

.main_page h3::before {
  content: "01";
  position: absolute;
  top: -55%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.main_page img:nth-of-type(1) {
  width: 39rem;
  display: block;
  padding-top: 5rem;
  margin: auto;
}

.main_page img:nth-of-type(2) {
  position: absolute;
  width: 12rem;
  top: 13%;
  right: 17.5%;
}

.main_page img:nth-of-type(3) {
  position: absolute;
  width: 12rem;
  top: 33%;
  left: 17%;
}

.main_page img:nth-of-type(4) {
  position: absolute;
  width: 12rem;
  bottom: 8%;
  right: 31%;
}

.main_page img:nth-of-type(5) {
  position: absolute;
  width: 12rem;
  bottom: 8%;
  right: 13.5%;
}

.shadow::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 47rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 2;
  pointer-events: none;
}

/* section8 */

.md_page {
  position: relative;
  z-index: 3;
  height: 130vh;
  background-color: #000;
  padding-bottom: 0;
}

.md_page h3 {
  text-transform: uppercase;
  position: absolute;
  left: 7.5%;
  top: 5%;
  z-index: 10;
}

.md_page h3::before {
  content: "02";
  position: absolute;
  top: -55%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.md_page img:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 120vh;
  z-index: 2;
}

.md_page img:nth-of-type(2) {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  z-index: 3;
}

/* section9 */

.mobile {
  position: relative;
  z-index: 3;
  height: 100vh;
  background-color: #000;
  width: 100%;
}

.mobile_imges {
  display: flex;
  overflow: hidden;
  height: auto;
  justify-content: space-around;
}

.mobile_imges img:nth-of-type(1),
.mobile_imges img:nth-of-type(2),
.mobile_imges img:nth-of-type(3),
.mobile_imges img:nth-of-type(4),
.mobile_imges img:nth-of-type(5), 
.mobile_imges img:nth-of-type(6), 
.mobile_imges img:nth-of-type(7), 
.mobile_imges img:nth-of-type(8), 
.mobile_imges img:nth-of-type(9) {
  width: 15rem;
}

.mobile_imges img:nth-of-type(2) {
  padding-top: 6rem;
}

.mobile_imges img:nth-of-type(4) {
  padding-top: 8.5rem;
}

.mobile {
  overflow: hidden;
}

.mobile_imges {
  display: flex;
  gap: 2rem;
  width: max-content;
  white-space: nowrap;
  position: absolute;
}

.shadow_top {
  position: absolute;
  top: 0;
  z-index: 7;
  width: 100%;
}

.shadow_bottom {
  position: absolute;
  bottom: 0;
  z-index: 7;
  width: 100%;
}

/* section10 */

.sentences {
  position: relative;
  z-index: 3;
  height: 100vh;
  background-color: #000000;
}

.sentences div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  white-space: nowrap;
  text-align: center;
}

.sentence_item p {
  margin: 0.1rem 0;
}

.kitchen {
  font-size: 1.5rem;
  font-weight: 600;
}

.kitchen_img {
  width: 6rem;
  height: 3rem;
  vertical-align: -1rem;
}

.kitchen_span {
  color: #6a6a6a;
}

.pet {
  color: #6a6a6a;
  font-size: 1.5rem;
  font-weight: 600;
}

.pet_span {
  color: #fff;
}

.pet_img {
  width: 6rem;
  height: 3rem;
  vertical-align: -1rem;
}

.lighting_span {
  color: #fff;
}

.lighting_img {
  width: 5.5rem;
  height: 5rem;
  vertical-align: -1rem;
}

.beauty {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.beauty_img {
  width: 3rem;
  height: 5rem;
  vertical-align: -1rem;
}

.beauty_span {
  color: #6a6a6a;
}

/* Scroll to Top Button */

.scroll-to-top {
  position: fixed;
  bottom: 2.5rem;     
  right: 2.5rem;      
  width: 2.5rem; 
  height: 2.5rem;   
  border-radius: 50%;
  border: 1.5px solid #000;
  background: #ffffff;
  color: #000;
  font-size: 1.2rem; 
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1.25rem); 
}

/* 반응형 */


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
  .main_textbox1 {
    margin: 2rem 0 0 1rem;
  }

  .main_top_text, .main_middle_text {
    font-size: 0.8rem;
    line-height: 0.7rem;
  }

  .main_textbox2  {
    position: absolute;
    bottom: 10%;
    left: -12%;
  }

  .main_textbox2 p {
    font-size: 0.9rem;
  }

  .main_textbox2 h1 {
    font-size: 2.8rem;
  }

  .props_wrap {
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
    padding-top: 3.3rem;
  }

  .mood_img {
    width: 6.5rem;
    height: 7rem;
  }

  .props_text {
    font-size: 0.8rem;
  }

  .props_text p:nth-of-type(2)::after {
    width: 2rem;           
    height: 0.1rem;
    margin: 0.1rem;
  }

  .chair_img {
    right: 12%;
    top: 53%;
    width: 8rem;
    height: 10rem;
  }

  .backchair_img {
    left: 45.5%;
    bottom: 22%;
    width: 6rem;
    height: 7rem;
  }

  .overview_wrap {
    left: 10.5%;
    top: 25%;
  }

  .overview_wrap p:nth-of-type(1) {
    font-size: 1.2rem;
  }

  .overview_wrap h2 {
    font-size: 0.7rem;
  }

  .overview_wrap p:nth-of-type(2) {
    font-size: 0.7rem;
    line-height: 1.5rem;
  }

  .cart_img {
    position: absolute;
    left: 6%;
    top: 80%;
    height: 15rem;
  }

  .sider_title {
    font-size: 2rem;
  }

  .sider img {
    width: 10rem;
  }

  .sider_subtext {
    gap: 0.9rem;
    padding-top: 5.5rem;
  }

  .sider_subtext_title {
    font-size: 0.7rem;
  }

  .sider_subtext_box p:nth-of-type(1) {
    font-size: 0.7rem;
  }

  .sider_subtext_box p:nth-of-type(2) {
    font-size: 0.6rem;
  }

  .design_container {
    flex-direction: column;
  }

  .design_text {
  font-size: 1.5rem;
  left: 25.5%;
  }

  .sum_container {
    gap: 2rem;
    top: 16%;
    right: 12%;
  }

  .sum_container h3 {
    font-size: 0.9rem;
  }

  .sum_container > div:nth-of-type(1) h3::before,
  .sum_container > div:nth-of-type(2) h3::before,
  .sum_container > div:nth-of-type(3) h3::before {
    font-size: 0.7rem;
  }

  .trandy_wrap img {
    width: 8rem;
    height: 10rem;
  }

  .trandy_wrap {
    left: 36%;
  }

  .trandy_wrap > div h3::before {
    font-size: 0.6rem;
    left: -7%;
  }

  .unique_img {
    width: 8.5rem;
    height: 8.5rem;
  }

  .unique_wrap {
    top: 43%;
    left: 5%;
    gap: 1.3rem;
  }

  .unique_wrap > div h3::before {
    left: -7.5%;
    font-size: 0.6rem;
  }

  .edit_img {
    width: 7rem;
    height: 7rem;
  }

  .edit_wrap {
    gap: 1.3rem;
    bottom: 11.5%;
    left: 12%;
    flex-direction: row-reverse;
  }

  .edit_wrap > div h3::before {
    font-size: 0.6rem;
    left: -8.2%;
    top: 3%;
  }

  .trandy_wrap h3, 
  .unique_wrap h3,
  .edit_wrap h3 {
  font-size: 0.9rem;
  }

  .trandy_wrap p,
  .unique_wrap p,
  .edit_wrap p {
  font-size: 0.5rem;
  }

  .design_system_wrap {
    display: flex;
    gap: 7rem;
    align-items: center;
    margin-left: 5.8rem;
    padding-top: 3rem;
  }
  
  .design_system_wrap {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-left: 1%;
    padding-top: 1.8rem;
  }

  .design_system_wrap h3 {
    font-size: 1rem;
  }
  
  .design_system_wrap p {
    font-size: 0.4rem;
  }

  .bottom_line {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }

  .design_system_color{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  } 

  .montserrat {
    /* position: absolute;
    left: 1%;
    top: 18%; */
  }

  .montserrat h2 {
    font-size: 2rem;
    /* transform: translateX(0.2rem); */
  }

  .montserrat h2::before {
    left: 0.5%;
    top: -20%;
    font-size: 0.7rem;
  }

  .montserrat p:nth-of-type(1) {
    font-size: 0.8rem;
    padding-left: 0.35rem;
  }
  
  .montserrat p:nth-of-type(2) {
    font-size: 0.7rem;
    padding-left: 0.35rem;
  }

  .born {
    /* position: absolute;
    left: 1%;
    top: 35%; */
  }

  .born h2 {
    font-size: 2rem;
    /* transform: translateX(0.2rem); */
  }

  .born h2::before {
    left: 1.2%;
    top: -20%;
    font-size: 0.7rem;
  }

  .born p:nth-of-type(1) {
    font-size: 0.8rem;
    padding-left: 0.35rem;
  }
  
  .born p:nth-of-type(2) {
    font-size: 0.7rem;
    padding-left: 0.35rem;
  }

  .color_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    position: static;
  }

  .color_box > div {
    position: static !important;
    width: 100%;
    height: auto;
  }

  .color_box > div:first-child {
    grid-column: span 2;
  }

  .color_box div:nth-of-type(1) {
    width: 10rem;
    height: 10rem;
    top: 53%;
    left: 2%;
  }

  .color_box div:nth-of-type(2) {
    bottom: 9%;
    left: 2%;
  }

  .color_box div:nth-of-type(3) {
    bottom: 9%;
    left: 5%;
  }

  .montserrat,
  .born {
    position: static !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
    transform: none !important;
    width: 100%;
  }

  /* section7 */

  .main_page h3 {
    top: 2%;
    left: 13.5%;
  }

  .main_page img:nth-of-type(1) {
    width: 20rem;
  }

  .main_page img:nth-of-type(2) {
    width: 8rem;
    top: 15%;
    right: 3.5%;
  }

  .main_page img:nth-of-type(3) {
    width: 8rem;
    top: 39%;
    left: 3.5%;
  }
  
  .main_page img:nth-of-type(4) {
    width: 7rem;
    bottom: 16%;
    right: 35.5%;
  }

  .main_page img:nth-of-type(5) {
    width: 7rem;
    bottom: 16%;
    right: 7.2%;
  }

  .md_page h3 {
    top: 5%;
    left: 13.5%;
  }

  .md_page img:nth-of-type(2) {
    width: 85%;
    height: 17rem;
  }

  .mobile_imges img:nth-of-type(1),
  .mobile_imges img:nth-of-type(2),
  .mobile_imges img:nth-of-type(3),
  .mobile_imges img:nth-of-type(4),
  .mobile_imges img:nth-of-type(5),
  .mobile_imges img:nth-of-type(6),
  .mobile_imges img:nth-of-type(7) {
    width: 15rem;
    height: 30rem;
  }

  .mobile_imges {
    margin-top: 13rem;
  }

  .kitchen {
    font-size: 1rem;
  }

  .kitchen_img {
    width: 3rem;
    height: 2rem;
    vertical-align: -1rem;
  }

  .pet {
    font-size: 0.8rem;
  }

  .pet_img {
    width: 3rem;
    height: 2rem;
  }

  .lighting_img {
    width: 3.3rem;
    height: 3.6rem;
  }

  .beauty {
    font-size: 1rem;
  }

  .beauty_img {
    width: 2rem;
    height: 4rem;
  }

  .scroll-to-top {
    bottom: 2.5rem;     
    right: 1.5rem;      
    font-size: 1rem; 
  }
}