body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 1400px;
  box-sizing: border-box;
}

* {
  color: #fff;
}

h2,
h3 {
  margin: 0;
}

section {
  max-width: 1400px;
}

/* section1 */

.main {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main_background {
  width: 100vw;
  height: 100vh;
  background-image: url(img/mask-group.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(0.7);
}

.main_textbox1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4.5rem 0 0 42rem;
}

.main_top_text, .middle_text {
  font-size: 0.9rem;
  text-transform: capitalize;
  line-height: 0.5rem;
}

.main_middle_text {
  text-decoration: underline;
}

.main_textbox2 {
  margin: 9rem 0 0 4rem;
}

.main_textbox2 p {
  margin-bottom: 0;
}

.main_textbox2 h1{
  font-size: 5rem;
  margin-top: 0;
  transform: translateX(-0.3rem);
}


/* section2 */

.high_end {
  position: relative;
  z-index: 2;
  height: 100vh;
  margin-top: 100vh;
  background-color: #000;
}

.props_wrap {
  display: flex;
  gap: 8.2rem;
  align-items: center;
  justify-content: center;
  padding-top: 3.3rem;
}

.mood_img {
  width: 13rem;
  height: 13.3rem;
}

.mood_img:hover {
  filter: brightness(1.1);
}

.props_text {
  font-size: 2.8rem;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  z-index: 2;
}

.props_text p:nth-of-type(2)::after {
  content: ""; 
  display: inline-block; 
  width: 6rem;           
  height: 0.3rem;
  background-color: #cd395c;
  margin: 0.5rem;
}

.chair_img {
  width: 17rem;
  height: 18rem;
  display: block;
  margin-right: 14.1rem;
  margin-left: auto;
  transform: translateY(-2.6rem);
  position: relative;
}

.backchair_img {
  position: absolute;
  z-index: -1;
  width: 9rem;
  height: 10rem;
  left: 36.5rem;
  bottom: 1.5rem;
}

.overview_wrap {
  display: flex;
  flex-direction: column;
  margin-left: 10.5rem;
  transform: translateY(-18rem);
  gap: 0.3rem;
}

.overview_wrap p:nth-of-type(1) {
  color: #cd395c;
  font-size: 1.2rem;
  margin: 0;
}

.overview_wrap h2 {
  font-size: 0.9rem;
  margin: 0;
}

.overview_wrap p:nth-of-type(2) {
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.cart_img {
  position: absolute;
  left: 12.5%;
  top: 77.5%;
  height: 20rem;
  z-index: 5;
}

/* section3 */

.sider {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #fff;
}

.sider_subtext {
  display: flex;
  justify-content: center;
  gap: 5rem;  
}

.sider_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 6rem;
  padding-top: 15rem;
}

.sider_title span {
  color: #000;
}

.sider_subtext_title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3rem;
}

.sider_subtext {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sider_subtext_box p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 550;
}

.sider_subtext_box p:nth-of-type(2) {
  font-size: 15px;
  line-height: 25px;
}

.sider_subtext_title,
.sider_subtext_box p {
  color: #000;
}

/* section4 */

.design_essence {
  position: relative;
  z-index: 1;
  height: 100vh;
}

.design_container {
  display: flex;
}

.design_img1,
.design_img2 {
  width: 100%;
  height: 100%;
}

.design_item1,
.design_item2 {
  position: relative;
}

.design_text {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  opacity: 0.1;
  position: absolute;
  left: 20%;
  top: 50%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.sum_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 19.5%;
  right: 20%;
}

.sum_container h3 {
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.sum_container > div:nth-of-type(1) h3::before {
  content: "(1)";
  position: absolute;
  top: -0.2%;
  right: 102%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.sum_container > div:nth-of-type(2) h3::before {
  content: "(2)";
  position: absolute;
  right: 102%;
  top: 36%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.sum_container > div:nth-of-type(3) h3::before {
  content: "(3)";
  position: absolute;
  right: 102%;
  top: 72.2%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.sum_container p {
  color: #999999;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

/* section5 */

.introduction {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #fff;
}


.trandy_wrap {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 50rem;
}

/* 공통 */

.trandy_wrap h3, 
.unique_wrap h3,
.edit_wrap h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  position: relative;
}

.trandy_wrap p,
.unique_wrap p,
.edit_wrap p {
  color: #6a6a6a;
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.trandy_wrap img {
  width: 15rem;
  height: 20rem;
}

.trandy_wrap > div h3::before {
  content: "(4)";
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
  position: absolute;
  top: 7%;
  left: -8%;
}

.unique_wrap {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: absolute;
  top: 12%;
  left: 10%;
}

.unique_img {
  width: 17.5rem;
  height: 17rem;
}

.unique_wrap > div h3::before {
  content: "(5)";
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
  position: absolute;
  top: 7%;
  left: -6.5%;
}

.edit_wrap {
  display: flex;
  gap: 3rem;
  position: absolute;
  bottom: 5%;
  left: 35%;
  align-items: flex-end;
}

.edit_img {
  width: 12rem;
  height: 12rem;
}

.edit_wrap > div h3::before {
  content: "(6)";
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
  position: absolute;
  top: 5.5%;
  left: -6.5%;
}

/* section6 */

.design_system {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #fafafa;
  margin-top: 0;
}

.design_system_wrap {
  display: flex;
  gap: 7rem;
  align-items: center;
  margin-left: 5.8rem;
  padding-top: 3rem;
}

.design_system_wrap h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 650;
  color: #000;
}

.design_system_wrap p {
  font-size: 0.7rem;
  color: #393939;
  line-height: 1.3rem;
  font-weight: 500;
}

.bottom_line {
  border: 1px solid #e0e0e0;
  width: 85%;
  margin-left: 5.7rem;
  margin-top: 1.2rem;
}

.montserrat {
  margin-top: 2rem;
  margin-left: 8rem;
}

.montserrat h2 {
  color: #000;
  font-size: 3.5rem;
  transform: translateX(-0.2rem);
  font-weight: 600;
  position: relative;
}

.montserrat p:nth-of-type(1) {
  color: #393939;
  font-size: 0.9rem;
  font-weight: bold;
}

.montserrat p:nth-of-type(2) {
  color: #a0a0a0;
  font-size: 0.8rem;
}

.montserrat h2::before {
  content: "ENG";
  position: absolute;
  left: 0.4%;
  top: -6%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.born {
  margin-left: 45rem;
  transform: translateY(-50%);
}

.born h2 {
  color: #000;
  font-size: 3.5rem;
  font-weight: 600;  
  transform: translateX(-0.3rem);
}

.born_side {
  color: #000;
  font-size: 1.2rem;
}

.born h2:before {
  content: "KOR";
  position: absolute;
  left: 1.3%;
  top: 0.5%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.born p:nth-of-type(1) {
  color: #393939;
  font-size: 0.9rem;
  font-weight: bold;
}

.born p:nth-of-type(2) {
  color: #a0a0a0;
  font-size: 0.8rem;
}

.color_box {
  display: flex;
  gap: 2rem;
}

.color_box div:nth-of-type(1) {
  width: 12rem;
  height: 12rem;
  background-color: #cd395c;
  padding: 1.1rem 0.9rem;
  margin: -10.5rem 0 0 8rem;
  
}

.color_box div:nth-of-type(1) h2 {
  font-weight: 550;
}

.color_box div:nth-of-type(1) p {
  font-size: 0.7rem;
  font-weight: 500;
}

.color_box div:nth-of-type(2) {
  width: 6rem;
  height: 6rem;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 0.6rem 0.5rem;
  margin: -3.5rem 0 0 21rem;
}

.color_box div:nth-of-type(2) h3 {
  font-weight: 550;
  color: #000;
  font-size: 0.9rem;
}

.color_box div:nth-of-type(2) p {
  font-size: 0.5rem;
  font-weight: 500;
  color: #000;
}

.color_box div:nth-of-type(3) {
  width: 6rem;
  height: 6rem;
  background-color: #000;
  padding: 0.6rem 0.5rem;
  margin: -3.5rem 0 0 0;
}

.color_box div:nth-of-type(3) h3 {
  font-weight: 550;
  font-size: 0.9rem;
}

.color_box div:nth-of-type(3) p {
  font-size: 0.5rem;
  font-weight: 500;
}

/* section7 */

.main_page {
  position: relative;
  z-index: 3;
  height: 100%;
  background-color: #000000;
}

.main_page h3 {
  text-transform: uppercase;
  padding: 2.5rem 0 0 8rem;
  position: relative;
}

.main_page h3::before {
  content: "01";
  position: absolute;
  bottom: 33%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.main_page img:nth-of-type(1) {
  width: 39rem;
  display: block;
  padding-top: 5rem;
  margin: auto;
}

.main_page img:nth-of-type(2) {
  position: absolute;
  width: 12rem;
  top: 12%;
  right: 13%;
}

.main_page img:nth-of-type(3) {
  position: absolute;
  width: 12rem;
  top: 33%;
  left: 13%;
}

.main_page img:nth-of-type(4) {
  position: absolute;
  width: 12rem;
  bottom: 8%;
  right: 31%;
}

.main_page img:nth-of-type(5) {
  position: absolute;
  width: 12rem;
  bottom: 8%;
  right: 12%;
}

.shadow::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 47rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 2;
  pointer-events: none;
}

/* section8 */

.md_page {
  position: relative;
  z-index: 3;
  height: 130vh;
  background-color: #000;
  padding-bottom: 0;
}

.md_page h3 {
  text-transform: uppercase;
  padding: 2.5rem 0 0 8rem;
  position: relative;
}

.md_page h3::before {
  content: "02";
  position: absolute;
  bottom: 33%;
  font-size: 0.8rem;
  color: #cd395c;
  font-weight: bold;
}

.md_page img:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 120vh;
  z-index: 2;
}

.md_page img:nth-of-type(2) {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  z-index: 3;
}

/* section9 */

.mobile {
  position: relative;
  z-index: 3;
  height: 100vh;
  background-color: #000;
  width: 100%;
}

.mobile_imges {
  display: flex;
  overflow: hidden;
  height: auto;
  justify-content: space-between;
  transform: translateY(2rem);
}

.mobile_imges img:nth-of-type(1),
.mobile_imges img:nth-of-type(2),
.mobile_imges img:nth-of-type(3),
.mobile_imges img:nth-of-type(4),
.mobile_imges img:nth-of-type(5) {
  width: 12rem;
}

.mobile_imges img:nth-of-type(2) {
  padding-top: 7rem;

}

.mobile_imges img:nth-of-type(3) {

}

.mobile_imges img:nth-of-type(4) {
  padding-top: 7rem;
}

.mobile_imges img:nth-of-type(5) {
  
}

.mobile_imges img:nth-of-type(6) {
  
}

.mobile_imges img:nth-of-type(7) {
}


.shadow_top {
  position: absolute;
  top: 0;
  z-index: 7;
  width: 100%;
}

.shadow_bottom {
  position: absolute;
  bottom: 0;
  z-index: 7;
  width: 100%;
}

/* section10 */

.sentences {
  position: relative;
  z-index: 3;
  height: 100vh;
  background-color: #000000;
}

.sentences div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  white-space: nowrap;
  text-align: center;
}

.sentence_item p {
  margin: 0.1rem 0;
}

.kitchen {
  font-size: 1.5rem;
  font-weight: 600;
}

.kitchen_img {
  width: 6rem;
  height: 3rem;
  vertical-align: -1rem;
}

.kitchen_span {
  color: #6a6a6a;
}

.pet {
  color: #6a6a6a;
  font-size: 1.5rem;
  font-weight: 600;
}

.pet_span {
  color: #fff;
}

.pet_img {
  width: 6rem;
  height: 3rem;
  vertical-align: -1rem;
}

.lighting_span {
  color: #fff;
}

.lighting_img {
  width: 5.5rem;
  height: 5rem;
  vertical-align: -1rem;
}

.beauty {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.beauty_img {
  width: 3rem;
  height: 5rem;
  vertical-align: -1rem;
}

.beauty_span {
  color: #6a6a6a;
}

